<strong>Olá, {{ name }}</strong>
<p>Você foi cadastrado na aplicação FastFeet, confira suas credenciais abaixo:</p>
<p>
  <strong>Login: </strong> {{ email }} <br />
  <strong>Senha: </strong> {{ password }} <br />
  <br />
  <small>
    Por questões de segurança entre na aplicação e redefina sua senha.
  </small>
</p>
